.App,
body {
  background-color: #f4f1eb;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", sans-serif;
  color: #37362e;
}

p {
  font-family: "Courier", serif;
  margin: 0;
  font-size: 11px;
  color: #222323;
  font-weight: 300 !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.slick-dots {
  text-align: right !important;
}

.slick-dots li, .slick-dots li button {
  width: 30px !important;
  height: 4px !important;
  margin-left: 0 !important;
  opacity: 0.15;

  background-color: #000;
}

.slick-active {
  opacity: 1 !important;
}

.slick-dots li button:before {
  display: none;
}
